/*======================
  reset bootstrap color
=======================*/
$primary: #001D3D;
$secondary: #d9ed92;
@import '~bootstrap/scss/bootstrap';

/*======================
  general setting
=======================*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
