/*======================
  reset bootstrap color
=======================*/
$primary: #f07167;
$secondary: #fed9b7;
$danger: #9d0208;
$green: #d9ed92;
@import '~bootstrap/scss/bootstrap';

/*======================
  general setting
=======================*/
html,
body {
  background: #f8f9fa;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn{
  color: $danger;
  font-weight: bold;
  &:hover {
    color: $danger;
  }
}

