.window {
  /*min-height: 100vh;*/
  width: 68%;
/*  min-width: 680px;
  max-width: 720px;*/
  height: 70vh;
/*  min-height: 460px;*/
  margin: 6.5em auto;
  padding: 0 0.5rem;
  border: 1px solid #4B3F72;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.windowSetup {
  width: 42%;
  margin: 8.5em auto;
}

.windowChatLeft {
/*  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid blue;
  width: 24%;
  height: 100%;
  background: #001D3D;
  color: #ebebeb;*/
}

.windowChatLeft > h3 {
  text-align: center;
  color: #bde0fe;
}

.windowChatRight {
/*  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  /*border: 1px solid green;
  width: 70%;
  /*min-width: 580px;
  height: 100%;*/
}

.windowMsgHistory {
  overflow-y: scroll;
  flex-grow: 1;
}
