.messageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  position: absolute;
  bottom: 0;
  right: 0;*/
  width: 100%;
  /*height: 26%;*/
  padding: 0.6em 1em;
  background: #bde0fe;
  /*min-height: 38px;*/
}

.messageInput form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messageInputField {
  border: none;
  padding: 0.5em;
  border-radius: 4px 0 0 4px;
  width: 100%;
}

.messageInputButton {
  border: none;
  background: #003566;
  color: white;
  border-radius: 0 4px 4px 0 ;
  padding: 0.4em 1em;
}
