.form {
  color: #9d0208 !important;
}
.formTitle {
  display: flex;
  justify-content: center;
  background: #f07167;
  padding: 1.25rem;
  // margin-bottom: 0.75rem;
  // color: #9d0208;
  font-size: 1.5rem;
  font-weight: bold;
}

