/*=====================
  with username set-up
=====================*/
.userInfo {
  display: flex;
  justify-content: flex-end;
  background: #1F2041;
  color: white;
  width: 100%;
  height: 13%;
  min-height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

/*====================
  no username set-up
=====================*/
.formField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4B3F72;
  border-top: 2.5rem solid #4B3F72;
  min-width: 480px;
  min-height: 260px;
  padding: 1.2em 3em;
  border-radius: 6px;
  box-shadow: 2px 6px 10px lightgrey;
}

.formField label {
  color: #4B3F72;
  font-size: 1.5rem;
}

.formInput {
  margin: 1em 0;
  padding: 0.3em 0.1em;
  font-size: 1rem;
}

.formButton {
  background-color: #4B3F72;
  color: white;
  border: none;
  padding: 0.5em 0;
  font-size: 1rem;
  border-radius: 4px;
}
