.formField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4B3F72;
  border-top: 2.5rem solid #4B3F72;
  min-width: 480px;
  min-height: 260px;
  padding: 1.2em 3em;
  border-radius: 6px;
  box-shadow: 2px 6px 10px lightgrey;
}

.formField label {
  color: #4B3F72;
  font-size: 1.5rem;
}

.formInput {
  margin: 1em 0;
  padding: 0.3em 0;
  font-size: 1rem;
}

.formButton {
  background-color: #4B3F72;
  color: white;
  border: none;
  /*margin: 1em 0;*/
  padding: 0.5em 0;
  font-size: 1rem;
  border-radius: 4px;
}
